:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172m 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

form,
.btn {
  /* display: grid; */
  gap: 2.5rem;
}

.form-control {
  margin-right: 1rem;
}

.nav-link {
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 0.9rem;
}

.home-icon {
}
